* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.wrap {
    width: 1064px;
    margin: 0 auto;
}

/* ========================= media ========================= */

@media screen and (max-width: 1143px) {
    .wrap {
        width: 668px;
    }   
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 100%;
        padding: 0 20px;
    }
}